.ingredients{
    padding: 4rem 7rem;
    background-color: #91dfb9;
    display: flex;
    align-items: center;
    justify-content: center;
}
.ingredients .leftingredients h2{
    color: #005099;
    font-size: 40px;
    font-weight: bold;
}

.ingredients .leftingredients p{
    color: #005099;
    font-size: 22px;
    line-height: 35px;
    margin: 35px 0;
}

.ingredients .leftingredients a{
    color: #005099;
    text-decoration: none;
    font-weight: bold;
    font-size: 17px;
    position: relative;
    transition: .3s;
}

.ingredients .leftingredients a:hover{
    color: #fff;
}

.ingredients .leftingredients a::after{
    content: '';
    position: absolute;
    height: 4px;
    width: 100%;
    top: 24px;
    left: 0;
    background-color: #fff;
}

.ingredients .rightingredients{
    display: flex;
    flex-wrap: wrap;
    text-align: end;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.ingredients .rightingredients .imgdiv{
    width: 30%;
    position: relative;
}

.ingredients .rightingredients .imgdiv img{
    width: 60%;
}

.ingredients .rightingredients .imgdiv .openText{
    cursor: pointer;
    position: absolute;
    left: 70px;
    color: #fff;
    font-size: 13px;
    background-color: #007367;
    border-radius: 50%;
    padding: 5px 6px;
    font-weight: 200;
}

.ingredients .rightingredients .imgdiv .openTextblock{
    transform: rotate(45deg);
    transition: .3s ease-in-out;
    background-color: #fff !important;
    color: #007367 !important;
}

.ingredients .rightingredients .imgdiv .openTextnone{
    transform: rotate(0deg);
    transition: .3s ease-in-out;
    background-color: #007367 !important;
    color: #fff !important;
}

.ingredients .rightingredients .ginger, .vanilla , .oat , .flax, .rose , .cinnamon{
    background-color: #fff;
    border-radius: 30px;
    padding: 0 5px;
    position: absolute;
    top:10px;
    left: 85px;
    width: 190px;
    z-index: 1;
} 


.ingredients .rightingredients .cinnamon{
    background-color: #fff;
    border-radius: 30px;
    padding: 0 5px;
    position: absolute;
    top:-200px;
    left: -110px;
    width: 190px;
    z-index: 1;
}

.ingredients .rightingredients .ginger h5, .vanilla h5, .oat h5 , .flax h5 , .rose h5 , .cinnamon h5{
    color: #005099;
    font-weight: bold;
    margin-top: 10px;
}

.ingredients .rightingredients .ginger p,.vanilla p, .oat p , .flax p, .rose p , .cinnamon p{
    color: #005099;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
}
 

.ingredients .rightingredients .none{
    display: none;
}
.ingredients .rightingredients .block{
    display: block;
}


@media(max-width:576px){
    .ingredients{
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .ingredients .all{
        display: flex;
        flex-direction: column-reverse;
    }

    .ingredients .rightingredients{
        gap: 0;
        row-gap: 20px;
        padding: 40px 0;
        text-align: center;
    }
    .ingredients .rightingredients .imgdiv img{
        width: 80%;
    }
    .ingredients .rightingredients .imgdiv .openText{
        left: 0px;
    }
    .ingredients .rightingredients .ginger, .vanilla , .oat , .flax, .rose , .cinnamon{
        left: 20px;
    } 
    .ingredients .rightingredients .cinnamon{
        top:-200px;
        left: -180px;
    }
    .ingredients .rightingredients .oat {
        top:-115px;
        left: -180px;
    }
    .ingredients .leftingredients{
        padding: 0;
    }
    .ingredients .leftingredients h2{
        font-size: 30px;
    }
    
    .ingredients .leftingredients p{
        font-size: 16px;
        line-height: 24px;
        margin: 15px 0;
    }
    
    .ingredients .leftingredients a{
        font-size: 14px;
    }
    .ingredients .leftingredients a::after{
        content: '';
        top: 20px;
    }
}
