header{
    background-color: #fabfa8;
}
.containerheader{
    padding: 2rem 1rem;
}

.containerheader .left a{
    position: relative;
    margin-left: 40px;
    color: #005099;
    font-weight: 700;
    text-decoration: none;
}

.containerheader .left a:after{
    content: '';
    position: absolute;
    background-color: #91DFB9;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -7px;
    transition: .5s;
    opacity: 0;
}

.containerheader .left a:hover:after{
    opacity: 1;
}

.containerheader .rightlinks a{
    margin-left: 40px;
    color: #005099;
    font-weight: 700;
    text-decoration: none;
    position: relative;
}

.containerheader .rightlinks a:after{
    content: '';
    position: absolute;
    background-color: #91DFB9;
    height: 3px;
    width: 100%;
    left: 0;
    bottom: -7px;
    transition: .5s;
    opacity: 0;
}

.containerheader .rightlinks a:hover:after{
    opacity: 1;
}


.containerheader .right .icons{
    margin-left: 40px;
}

.containerheader .right .icons i{
    margin-left: 20px;
    color: #005099;
    font-weight: 600;
    text-decoration: none;
    transition: .5s;
}

.containerheader .right .icons i:hover{
    transform: scale(1.1);
}


.productsmenu{
    padding: 2rem 4rem;
    background-color: #fff;
}

.productsmenu .leftpmenu ul{
    list-style-type: none;
}

.productsmenu .leftpmenu ul li{
    margin-top: 10px;
}

.productsmenu .leftpmenu ul li a{
    color: #005099;
    text-decoration: none;
    font-weight: 600;
}

.productsmenu .rightpmenu img{
    width: 55%;
}

.productsmenu .rightpmenu .box p{
    color: #005099;
    font-weight: 600;
    margin-top: 20px;
}


#allproduct{
    display: none;
}